body {
    padding-top: 50px;
}

/*.section {*/
/*padding: 40px 15px;*/
/*text-align: center;*/
/*}*/

.message {
    font: bold;
}

.chat_player {
}

.ngrt {
    font: bold;
}
* {
    margin: 0;
    padding: 0 :
}

body {
    font-family: Arial, Sans-serif;
}

.field {
    width: 100%;
    float: left;
    margin: 0 0 20px;
}

.field input {
    margin: 0 0 0 20px;
}

/* Used for the Switch effect: */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
    background: url("../images/switch.gif") repeat-x;
    display: block;
    float: left;
}

.cb-enable span, .cb-disable span {
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}

.cb-enable span {
    background-position: left -90px;
    padding: 0 10px;
}

.cb-disable span {
    background-position: right -180px;
    padding: 0 10px;
}

.cb-disable.selected {
    background-position: 0 -30px;
}

.cb-disable.selected span {
    background-position: right -210px;
    color: #fff;
}

.cb-enable.selected {
    background-position: 0 -60px;
}

.cb-enable.selected span {
    background-position: left -150px;
    color: #fff;
}

.switch label {
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navMainOverlay a:hover {
    text-decoration: none;
}
/* Float */
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
.left {
    float: left;
}
.right {
    float: right;
}
.pageAllWrap {
    border-top: 0.667em solid #81582C;
}
.overview {
    background: #23614E;
}
.headerInnerWrap,
.overviewInnerWrap,
.content,
.footerInnerWrap {
    margin: 0 auto;
    max-width: 1080px; /* inside: 1080px outside: 1110px */
    padding: 1em 1em 0 1em; /* 1 = 15px */
}
.headerInnerWrap {
    padding-top: 0px;
}
.overviewInnerWrap {
    background: #74B917;
    border-right: 1em solid #23614E;
    border-left: 1em solid #23614E;
    padding: 0;
}
.content {
    background: #F2F2F2;
    padding-bottom: 2em;
}
.footerInnerWrap {
    padding-top: 0;
}
.mainNav{
    position: relative;
    padding-top: 1em;
}
/*.mainNav ul {*/
/*float: right;*/
/*}*/
.mainNav ul li {
    display: block;
    float: left;
    padding: 0 1em 1em;
}
.mainNav ul li:last-child {
    padding-right: 0;
}
.mainNav ul li a {
    color: #23614E;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
}
.mainNav ul li a:hover,
.mainNav ul li a:focus {
    color: #23614E;
}

.cf {
    padding-top: 0px
}
.navMainOverlay {
    width: 100%;
    min-height: 50px;
    height: auto;
    padding-top: 1.2em;
    padding-bottom: 2.0em;
    background: #23614E;
    display: none;
    position: absolute;
    z-index: 200;
    top: 3.78em;
    left: 0;
    -webkit-box-shadow: 0px 3px 5px -1px rgba( 0, 0, 0, 0.8 );
    -moz-box-shadow: 0px 3px 5px -1px rgba( 0, 0, 0, 0.8 );
    box-shadow: 0px 3px 5px -1px rgba( 0, 0, 0, 0.8 );
}
.navMainOverlay ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}
.navMainOverlay ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 1.5625%;
    font-weight: normal;
}
.navMainOverlay ul li a {
    display: block;
    padding: 0.8em 0.5em 0.6em 0.2em;
    color: #fff;
    font-size: 1.0em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D3DFDC;
}
.navMainOverlay ul li a:hover,
.navMainOverlay ul li a:focus {
    color: #fff;
    background: #004A3A;
}
.navMainOverlay ul li a.hilite {
    color: #A7C0B8 !important;
    font-weight: bold;
    cursor: default;
}
.navMainOverlay ul ul {
    margin-top: 0.0em;
    margin-left: 0.0em;
    font-size: 1.0em;
}
.navMainOverlay ul ul li {
    display: block;
    clear: both;
    width: 100%;
    margin-left: 0.0em;
}
.navMainOverlay ul ul li  {
    display: block;
    padding: 0.6em 0.5em 0.4em 0.2em;
    color: #fff;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #7BA095;
}
.navMainOverlay ul ul li a:hover,
.navMainOverlay ul ul li a:focus {
    background: #004A3A;
}
.navMainOverlay ul ul li a.hilite {
    color: #A7C0B8 !important;
    font-weight: bold;
}
.navMainOverlay ul li a:hover {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.navMainOverlay ul li  {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.navMainOverlay ul ul li a:hover {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.navMainOverlay ul ul li a {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.ml1li a {
    position: relative;
}
.ml1li a:hover {
    display: block;
}
.ml1liHover .arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: #FFFFFF transparent transparent transparent;
    display: block;
    position: absolute;
    bottom: -1em;
    left: 20%;
    z-index: 9999;
}
.ml1 {
    padding-left: 0px
}
.ml1li {
    float : left;
}
